html {
    background: url('http://il8.picdn.net/shutterstock/videos/15390907/thumb/1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page {
    
}

.header {
    height: 100px;
    width: 100%;
    background-color: darkgrey;
    position: fixed;
}

.jumbotron {
}

.container {
    width: 80%;
    height: 60%;
}

.footer {
    height: 70px;
    width: 100%;
    background-color: darkgrey;
}